@model App.Esperanza.Models.Agencia

<h3>¿Estás seguro de inactivar esta agencia?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Ajax.BeginForm("Delete", new { Controller = "Agencia" },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "modal-body",
            OnSuccess = "agencia.success(data, 'delete');"
        },
        htmlAttributes: new { id = "deleteForm" }
    ))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type = "submit" value="Inactivar" class="btn btn-danger" />
        </div>
    }
</div>
